body {
    font-family: 'Roboto Mono', monospace;
    width: 90%;
    margin: auto;
    background-color: lightcyan;
    color: darkgray;
}

.mainContainer {
    background-color: rgb(207, 236, 246);
    text-align: center;
    border-radius: 10px;
    max-width: 100%;
    margin-top: 20px;
}

.mainTitle {
    margin: 20px;
}

.titleBreaker {
    width: 90%;
    margin-top: 0px;
}

#btn_start_game {
    display: block;
    margin: auto;
}

#btn_rules {
    display: block;
    margin: auto;
    margin-top: 20px;
}

#btn_roll_dice {
    display: block;
    margin: auto;
    margin-top: 20px;
}

#playerIcons {
    width: 40%;
    height: auto;
}

.playerScore {
    height: 100px;
    width: 60%;
    margin: auto;
    font-size: 65px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.eventsBox {
    margin-top:20px;
    height: auto;
}

.eventRectangle {
    width: 80%;
    background-color: whitesmoke;
    margin: auto;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.laps {
    margin-bottom: 20px;
}

.laps h6 {
    margin-bottom: 2px;
    margin-top: 20px;
}

#player_one_event_img1 {
    margin: 10px auto;
}

#player_one_event_img2 {
    margin: 10px auto;
}

#player_one_events {
    margin: 20px auto;
}

#player_two_event_img1 {
    margin: 10px auto;
}

#player_two_event_img2 {
    margin: 10px auto;
}

#player_two_events {
    margin: 20px auto;
}

.btn-lg:focus {
    outline: none;
}